@import "tailwindcss";

@theme {
  --color-akams-yellow: #ffd700;
  --color-akams-green: #228b22;
  --color-akams-forest: #1b4332;
  --color-akams-dark: #111827;
  --color-akams-orange: #ff8c00;

  /* Custom Spacing */
  --radius-super: 50px; 

  /* Custom Shadows for the white cards */
  --shadow-soft: 0 20px 40px -15px rgba(0, 0, 0, 0.1);
}

@layer base {
  body {
    font-family: sans-serif;
    @apply bg-white antialiased;
  }
}
.reveal-element {
  transition: all 0.8s ease-out;
  transform: translateY(20px);
  filter: blur(5px);
}

.reveal-visible {
  opacity: 1 !important;
  transform: translateY(0);
  filter: blur(0);
}
